/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body, html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Background */
.background img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

/* Container */
.forgot-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 389px;
    width: 462px;
}

.forgot-password-box {
    background: #e2e6ebf3;
    width: 100%;
    height: 100%;
    border-radius: 19px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}


.forgot-password-box h3 {
    font-size: 32px;
    height: 38px;
    width: 253px;
    position: fixed;
    top: 188px;
    left: 565px;
    font-weight: bolder;
    color: #333;
}
.forgot-password-box h2 {
    font-size: 16px;
    height: 19px;
    width: 55px;
    position: fixed;
    top: 295px;
    left: 575px;
    color: #333;
}

.forgot-password-box p {
    font-size: 16px;
    height: 30px;
    width: 336px;
    position: fixed;
    top: 242px;
    left: 555px;
    color: #333;
}


/* Input Group */
.input-group {
    display: flex;
    margin: 15px 0;
    border: 1px solid #7c7b84;
    border-radius: 5px;
    overflow: hidden;
    height: 39px;
    width:376px ;
    position:relative;
    top: 150px;
    left: 43px;
    background: #D9D9D9;
}

.input-group input {
    flex: 1;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 14px;
    background: none;
    color: #333;
}



/* Tombol reset password */
.btn-reset {
    background: #417a8a;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border: none;
    height: 59px;
    width: 212px;
    border-radius: 115px;
    cursor: pointer;
    position: fixed;
    top: 395px;
    left: 660px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.btn-reset:hover {
    background: #2d535e;
}

/* Link Daftar */
.back-links {
    position: fixed;
    top:482px ;
    left: 647px;
    font-size: 16px;
    color: #333;
}

/* Styling untuk link */
.back-links a {
    color: #3897E1;
    text-decoration: none;
}

/* Efek hover untuk link */
.back-links a:hover {
    color: #0053B2;
}
